<% if (page.category) { %>
  <div class="page-head">
    <h1><%= page.category %></h1>
    <div class="page-sub"><%= page.posts.length %> 篇</div>
  </div>
  <div class="taxonomy-posts">
    <% page.posts.sort('-date').each(function (post) { %>
      <div class="archive-row">
        <span class="archive-date"><%= post.date.format(theme.date_format || 'YYYY.MM.DD') %></span>
        <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
      </div>
    <% }) %>
  </div>
<% } else { %>
  <div class="page-head">
    <h1>分类</h1>
    <div class="page-sub">共 <%= site.categories.length %> 个分类</div>
  </div>
  <% if (site.categories.length) { %>
    <div class="taxonomy-grid">
      <% site.categories.sort('-length').each(function (cat) { %>
        <a class="taxonomy-item" href="<%- url_for(cat.path) %>">
          <span class="taxonomy-name"><%= cat.name %></span>
          <span class="taxonomy-count"><%= cat.posts.length %></span>
        </a>
      <% }) %>
    </div>
  <% } %>
<% } %>
